

*{ margin:0; padding:0;}
.clear{ clear:both;}
img{ border:none;}
body{ background:#fff;}


.summer{ width:464px; height:464px; margin:80px auto; overflow:hidden; background:url(../images/summer.png) top center no-repeat;}


.flower{ width:440px; height:auto; margin-right:0px;text-align:right; padding-top:335px;}




.winter{ width:464px; height:464px; margin:80px auto; overflow:hidden; background:url(../images/winter.png) top center no-repeat;}


.flower2{ width:205px; height:auto; margin: 0px; text-align:left; padding-top:290px; margin-left:-30px;}



.people{ width:600px; height:200px; margin:80px 30px; text-align:center; }










